// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {  
	img {
	 width:100px;
	 height:150px;
	}
	text-align:center;
	padding: 15px;
	border: 2px solid #f8f5f0;
}
.page-header {
	font-size: 4em;
	margin-bottom: 40px;
}
#notice {
	margin-top:20px;
}